<div class="post" *ngIf="posts.length!==0">

  <div class="post-list">
    <div class="post-item" *ngFor="let item of posts">
      <div class="post-title">
        <span class="post-title-link">{{item.title}}</span>
      </div>

      <div class="post-meta" nz-row nzType="flex" nzJustify="center" nzAlign="middle">

        <div class="post-time" nz-col>
          <div nz-row [nzGutter]="8">
            <span nz-col>
              <i nz-icon nzType="calendar" nzTheme="outline"></i>
            </span>
            <span class="post-meta-item-text" nz-col>发表于</span>
            <span nz-col>{{ item.date |date:'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>
        </div>
        <nz-divider nzType="vertical"></nz-divider>

        <div class="post-category" nz-col>
          <div nz-row [nzGutter]="8" nzType="flex">
            <span nz-col>
              <i nz-icon nzType="folder" nzTheme="outline"></i>
            </span>
            <span class="post-meta-item-text" nz-col>分类于</span>
            <div nz-col [innerHTML]="item.categoriesTemplate"></div>
          </div>
        </div>
        <nz-divider nzType="vertical"></nz-divider>

        <div class="post-visitors" nz-col>
          <div nz-row [nzGutter]="8">
            <span nz-col>
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </span>
            <span class="post-meta-item-text" nz-col>阅读次数:</span>
            <span nz-col>{{item.visitors}}</span>
          </div>

        </div>
      </div>

      <div class="post-body">
        <markdown [data]="item.content |interceptString:'line':10">
        </markdown>
      </div>

      <div class="post-button g-flex-center">
        <span class="g-flex-center" (click)="readMore(item.id)">阅读全文 »</span>
      </div>
    </div>
  </div>

  <div class="g-flex-center">
    <nz-pagination [nzPageIndex]="2" [nzTotal]="50" nzShowQuickJumper></nz-pagination>
  </div>

</div>

<div class="empty-container" *ngIf="posts.length==0">
  <nz-empty></nz-empty>
</div>